In [1]:
import pandas as pd
import numpy as np

In [2]:
df_prod = pd.read_csv("products.csv")

In [3]:
df_trans = pd.read_csv("transactions.csv")

In [4]:
df_trans.fillna(-1, inplace=True)

In [5]:
mappers = {"encode":{
    "department": {v:k for k, v in enumerate(df_prod.department.drop_duplicates().values)},
    "aisle": {v:k for k, v in enumerate(df_prod.aisle.drop_duplicates().values)}
},
          "decode":{
    "department": {k:v for k, v in enumerate(df_prod.department.drop_duplicates().values)},
    "aisle": {k:v for k, v in enumerate(df_prod.aisle.drop_duplicates().values)}
          }}

In [6]:
df_prod.department = df_prod.department.apply(lambda x: mappers["encode"]["department"][x])

In [7]:
df_prod.aisle = df_prod.aisle.apply(lambda x: mappers["encode"]["aisle"][x])

In [8]:
df_prod.drop(columns=["product_name"], inplace=True)

In [9]:
df = df_trans.merge(df_prod)

In [10]:
df

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,aisle,department
0,2539329,1,1,2,8,-1.0,196,1.0,0.0,77,7,54,2
1,2398795,1,2,3,7,15.0,196,1.0,1.0,77,7,54,2
2,473747,1,3,3,12,21.0,196,1.0,1.0,77,7,54,2
3,2254736,1,4,4,7,29.0,196,1.0,1.0,77,7,54,2
4,431534,1,5,4,15,28.0,196,1.0,1.0,77,7,54,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26408068,229817,204593,18,0,16,5.0,29420,4.0,0.0,106,12,30,8
26408069,2518919,204641,10,2,21,11.0,20543,16.0,0.0,55,11,121,4
26408070,3351698,205189,26,6,21,6.0,38939,15.0,0.0,109,11,79,4
26408071,3093936,205420,1,4,14,-1.0,28818,8.0,0.0,130,14,52,11
26408072,982455,205915,21,4,17,9.0,4403,7.0,0.0,100,21,32,14